<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vlxdigital.workshop" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mix Duck Race</name>
    <description>
        A small app for the Great Cleveland Duck Race
    </description>
    <author email="kjohnson@donledford.com" href="http://kylebjohnson.me">
        Kyle B. Johnson
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
</widget>
