<div class="herbert-test__admin">

    <div class="hero">
        {#<img class="hero__logo" src="{{ logo }}" alt=""/>#}
        <h1 class="hero__title">{{ title }}</h1>
    </div>

    <main class="herbert-test__content">

        <p>
            Welcome, Herbert is a plugin framework for WordPress. We believe the current approach to building plugins is unorganised and difficult to understand. It makes working in teams or taking over from a previous developer time consuming. Its early days for Herbert but our aim is to solve this.
        </p>

        <p>
            Learn more at <a href="http://getherbert.com/">GetHerbert.com</a>
        </p>

    </main>

</div>